/******************************/
/*        EVERY PAGE          */

body {
	background-color:rgb(255, 255, 255);
}

body,input {
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
	text-align: left;
	margin-left: 0px;
	color: rgb(27, 27, 27);
	font-family: Arial;
}


h1 {
	font-size: 22pt; 
	padding-left: 10px;
	color: rgb(100, 0, 0);
}

h2 {
	font-size: 16pt; 
	padding-left: 15px;
	color: rgb(90, 90, 90);
}

h2 b {
	font-size: 12pt; 
	/* padding-left: 15px; */
	color: rgb(160, 160, 160);
}

h3 {
	font-size: 14pt; 
	padding-left: 20px;
	line-height: 150%;
}

h3 b {
	font-weight: 100;
}

h3 a {
	color: rgb(100, 0, 0);
	text-decoration: none;
}

h3 a:hover {
	color: rgb(158, 158, 158);
	text-decoration: underline;
}

p {
	font-size: 12pt; 
	padding-left: 20px; 
	padding-right: 30px;  
}

p a {
	text-decoration: underline; 
	color: rgb(0, 49, 139); 
}

p a:hover {
	color: rgb(158, 158, 158);
	text-decoration: none;
}

br.clearfix {
	clear: both;
}

/* 
 *  top nav bar settings 
 */

.topnav {
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	padding: 20px 10px; 
	margin-left: 0px;
	margin-right: 20px; 
	word-spacing: 10px;
	position: fixed;
	border-bottom: 0.5px solid rgb(65, 65, 65);
	width: 100%;
	top: 0;
	z-index: 99;
}

.topnav .icon {
	display: none;
}

.links {
	margin: 5px auto 5px 0px; 
}

.links ul {
	list-style: none;
	text-align: center;
}

.links ul li {
	display: inline;
}

#name {
	font-size: 24pt; 
	font-weight: 400;
	text-align: center;
	color: rgb(100, 0, 0);
}

button {
	background-color: rgb(255,255,255);
	border: none;
	padding: 5px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	display: inline-block;
	border-radius: 12px;
}

button a {
	color: rgb(53, 53, 53);
	font-size: 18px;
	text-decoration: none;
}

button:hover {
	background-color: rgb(255, 255, 255);
}

button:hover a {
	color: rgb(158, 158, 158); 
	text-decoration: underline;
}

#active a {
	color: rgb(138, 0, 0);
	text-decoration: underline;
} 

#active a:hover {
	color: rgb(177, 177, 177);
	font-weight: normal;
} 

/* 
 *  content is on every page and holds 
 *  the main sections. 
 */ 

#content {
	float: none;
	padding: 175px 0px 0px;
	margin: 0px 50px;
}

/* 
 *  this adds a bar above a "content section" 
 *  to split them up visually 
 */ 

#contentSection {
	padding: 20px 10px; 
	border-top: ridge 1px #c9c9c9;
}

h1#contentSection {
	color: rgb(58, 58, 58);
}

#contentSection2 {
	padding: 20px 10px; 
}

h1#contentSection2 {
	color: rgb(58, 58, 58)
}

/*
 *  page nav sits at the top of a page 
 *  and povides "anchored" links to sections 
 *  below. 
 */

#pagenav {
	padding: 10px 10px;
	font-size: 11pt; 
	text-align: center;
	word-spacing: 30px; 
}

#pagenav a {
	/* color: rgb(100, 0, 0); */
	color: rgb(0, 4, 63);
	text-decoration: none;
}

#pagenav a:hover {
	color: rgb(200, 200, 200); 
	text-decoration: underline;
}

/* 
 *  this provides an internal jump 
 *  point for references to points on a page.  
 */ 

.anchorRef {
	display: block;
    position: relative;
	top: -150px;
	visibility: hidden;
}

/* 
 *  header for each page. 
 *  in this case, just my name 
 *  and the purpose of the page. 
 */ 

#myName h1, #myName h2 {
	display: block; 
	text-align: center; 
	float: center; 
}

/*
 *  the footer section 
 */ 

#footer {
	font-size: 10pt; 
	color: rgb(167, 167, 167); 
	margin-top: 40px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 50px;
	text-align: center;
	border-top: ridge 1px #c9c9c9;
	word-spacing: 2pt; 
}

#footer a {
	color: rgb(167, 167, 167);
	text-decoration: none;
}

#footer a:hover {
	color: rgb(200, 200, 200);
	text-decoration: underline;
}

/******************************/
/* SPECIFIC TO A CERTAIN PAGE */

#contactInfo h1 a, #contactInfo h2 a,
#contactInfo h3 a, #contactInfo h4 a {
	display: block; 
	float: center;
	text-align: center;
	line-height: 0pt;
	color: rgb(0, 4, 63); 
}

.box {
	width: 45%; 
	display: block;
	margin: 0 auto; 
}

img {
	display: block; 
	float: right; 
	width: 230px; 
	height: 300px;
}

#content-box1 {
	display: block;
	float: left;
	padding: 10px 10px;
	margin: auto; 
}

#content-box2 {
	display: block; 
	float: right;
	/* padding: 10px 10px; */
	padding: 50px 10px 10px 10px;
	margin: auto; 
}

#paper {
	color: rgb(0, 49, 139); 
	text-decoration: none;
}

#paper:hover {
	color: rgb(158, 158, 158);
	text-decoration: underline;
}

/* SMALLER BROWSER WINDOW */

/* 
 *	first resize accounts for nav bar 
 *  collisions with the links. This 
 *  hides all links but the home link 
 *  and puts the rest under the "three bar" 
 *  button. 
 */
 
@media screen and (max-width: 1200px) {
	img {
		display: block;
		float: none;
    	margin: auto; 
		width: 400px; 
		height: 500px;
	}

	.box h1 {
		font-size: 32pt;	
	}

	.box h2 {
		font-size: 18pt; 
	}

	.box h2 b {
		font-size: 16pt;
	}

	#content {
		padding: 150px 0px 100px 0px;
		margin: 0px 30px;
	}

	#content-box1 {
		width: 100%;
		float: none;
		padding: auto; 
	}
	
	#content-box2 {
		width: 100%;
		display: block; 
		float: none; 
		padding-top: 20px;
	}

	#name {
		display: none;
	}
}

@media screen and (max-width: 1200px) {

	.links {display: none;}

	.topnav {
		padding: 60px 10px 20px;
	}

	.topnav a {
		text-decoration: none;
		font-size: 40px;
	}

	.topnav a.icon {
		padding-left: 100px;
		float: left;
		display: block;
		color: rgb(100, 0, 0);
	}

	.topnav a.icon:hover {
		padding-left: 100px;
		float: left;
		display: block;
		color: rgb(158, 158, 158);
	}

	.topnav a:hover {
		float: left;
		display: block;
		color: rgb(70, 70, 70);
	}
	
	.about {
		padding-top: 10%; 
	}

	p {
		/*
		padding-left: 6%; 
		padding-right: 30px; 
		*/
		text-align: left; 
		color: black; 
	}

	h1, h2, h3, ul { 
		text-align: left;
		display: block;  
	}

	#content-box2 h1, #content-box2 h2 {
		text-align: center; 
	}
}

/*  
 *  The "responsive" class is added to the 
 *  topnav with JavaScript when the user clicks 
 *  on the icon. This class makes the topnav 
 *  look good on small screens (display the links 
 *  vertically instead of horizontally)
 */ 

@media screen and (max-width: 1200px) {

	.topnav.responsive a.icon {
		position: absolute;
		left: 10px;
		top: 60px;
		color: rgb(100, 0, 0);
	}

	.topnav.responsive a.icon:hover {
		position: absolute;
		left: 10px;
		top: 60px;
		color: rgb(158, 158, 158);
	}

	.links.responsive {
		overflow: visible;
		margin: auto auto; 
		display: block;
	}

	.links.responsive ul {
		padding-top: 30px;
		list-style: none;
	}
	
	.links.responsive ul li {
		display: block;
		float: none;
		text-align: left;
	}

	.links.responsive ul li button {
		background-color: rgb(255,255,255);
		border: none;
		padding: 15px 12px 15px 120px;
		text-align: left;
		text-decoration: none;
		border-radius: 12px;
	}
	
	.links.responsive ul li button a {
		color: rgb(53, 53, 53);
		font-size: 32px;
		text-decoration: none;
	}

	.links.responsive ul li button:hover {
		background-color: rgb(255, 255, 255);
	}
	
	.links.responsive ul li button:hover a {
		color: rgb(158, 158, 158); 
		text-decoration: underline;
	}
}

/* 
 *  This resize accounts for the smaller devices 
 *  and sets a hard coded minimum width. 
 */

@media screen and (max-width: 650px) {

	#wrapper {
		width: 650px;
	}

	img {
		width: 200px; 
		height: 250px;
	}
}